body {
    background-color: #e4e6eb;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

.navbar-brand{
    img{
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #ffffff;

    &:hover {
        background-color: #1e3771;
        color: #ffffff;
    }

}